<div class="guest-registration-form">
  <h2>Cadastro de Hóspede</h2>
  <form (ngSubmit)="onSubmit(guestForm)" #guestForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Nome" name="name" [(ngModel)]="guest.name" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Documento" name="document" [(ngModel)]="guest.document" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Telefone" name="phone" [(ngModel)]="guest.phone" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!guestForm.form.valid">Cadastrar</button>
  </form>
</div>
