<div class="reservation-registration-form">
  <h2>Cadastro de Reserva</h2>
  <form (ngSubmit)="onSubmit(reservationForm)" #reservationForm="ngForm">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Hóspede</mat-label>
        <mat-select [(ngModel)]="reservation.guest" name="guest" required>
          <mat-option *ngFor="let guest of guests" [value]="guest">{{ guest.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Data Esperada de Check-in</mat-label>
        <input matInput name="expectedCheckinDate" [(ngModel)]="reservation.expectedCheckinDate" type="datetime-local" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Data Esperada de Check-out</mat-label>
        <input matInput name="expectedCheckoutDate" [(ngModel)]="reservation.expectedCheckoutDate" type="datetime-local" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Vaga de Garagem</mat-label>
        <mat-select [(ngModel)]="reservation.parkingSlot" name="parkingSlot" required>
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!reservationForm.form.valid">Cadastrar Reserva</button>
  </form>
</div>
